img {
width: 450px;
height: 250px;    
margin-top: 50px;
margin-bottom: 50px;
}

body {
    margin: 0; 
    font-style: sans-serif;
}

ul {
    margin: 0;
    padding-top: 10px;
    color: #a4a6aa;
    display: flex;
    gap: 40px;
    list-style: none;
}

a {
    color: #a4a6aa;
    text-decoration: none;
}

button {
    background: #3882F6;
    border-color: #3882F6;
    color: white;
    padding: 8px 16px;
    border-radius: 10px;
    width: 100px;
}

.header-block .left-items {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.header-block .right-items {
    display: flex;
    flex-direction: column;
}

.header-block {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    gap: 20px;
    padding-left: 150px;
    padding-right: 150px;
    justify-content: space-between;
}

#headerblocktext{
    color: #a4a6aa;
}

#randomtitle {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

.tileimages {
    display: flex;
    justify-content: center;
    margin: auto;
    flex: 1; 
    width: 100px;
}

.imageandtext{
    justify-content: center;
    align-items: center;
    text-align: center;
}

#wojak {
    max-width: 250px;
}

.second-block {
    display: flex;
    background-color: #c1c3c7;
    height: 350px;
    align-items: center;
    justify-content: center;
    font-style: italic;
    word-wrap:inherit
}

#quotetext {
    font-size: 36px;
    color: #1F2937;
}